<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3 class="header">About UCOC</h3>
    <div class="about_us">
        <div class="about">
            <h3 class="title">Here to Serve</h3>
            <p>
                The Universal Church Of Christ also known as UCOC has been set up by God to develop members to be witnesses for Christ and still empower them to achieve the highest levels of distinction and greatness in life. At The Universal Church Of Christ, greatness primarily means service.
            </p>
            <p>
                According to Mark 9:35, Jesus said that whoever wants to be great in God’s kingdom must first learn to be the servant of all. The privilege of leadership brings with it a higher calling to serve God and humanity. And as we take definite steps to reach out to elevate one another, we elevate our communities as well. Thus, making the spirit of greatness common.
            </p>

            <p>
                We have a wide variety of ministries and avenues through which our members can serve. Everyone can find a place to spread greatness. So whatever your gift, this is an environment where you can express it and become all God has created you to be!
            </p>
        </div>

        <div class="beliefs">
            <h3>Our Beliefs </h3>
            <ul>
                <li>We believe in the Godhead- the Father, the Son and the Holy Spirit.</li>
                <li>
                    We believe that God the Father, loved us so much that He sent Jesus Christ His son, to take on flesh so that He could die and save us (the world) from sin.
                </li>
                <li>We believe that Jesus died and resurrected and is seated now at the right hand of the Father.</li>
                <li>
                    We believe that we have another comforter, The Holy Spirit who is God and with whose fellowship we enjoy here on earth.
                </li>
                <li>
                    We believe that we are joint heirs with Jesus to God’s inheritance by His word and that we will rule and reign with Him forever more.
                </li>
            </ul>
        </div>

        <div class="leadership">
            <h3>Our Leadership</h3>
            <p>
                Our Church is led by Pastor Suleiman and Boluwatife Akintomiwa supported by a team of pastors and ministers who are committed to The Universal Church Of Christ's God-given mandate to make greatness common.
            </p>
        </div>

        <div class="vision-mission">
            <div class="vision-m vm">
                <h3>Our Vision Statement</h3>
                <p>To raise an exemplary company of believers across the globe by:</p>
                <ul>
                    <li>Celebrating God’s presence</li>
                    <li>Demonstrating His love</li>
                    <li>Communicating His Word</li>
                    <li>Cultivating His character</li>
                    <li>Building His family</li>
                </ul>
            </div>
            <div class="mission-m vm">
                <h3>Our Mission Statement</h3>
                <p>We are a church on a mission to reach every man, woman and child with the Gospel of Jesus Christ</p>
            </div>
        </div>

        <div class="church-locations">
            <h3>Church Branches</h3>
            <div class="locations">
                <div class="location">
                    <h2>Headquarters (Ogbomosho)</h2>
                    <p>
                        E-mail: info@ucoc.org<br>
                        Helpline (8AM to 10PM):<br>
                        (+234)-193 456 8283
                    </p>
                    <br>
                    <p>
                        Address:<br>
                        5/7 Lateef Jakande Avenue, Off Bourdillon, Off Glover, Ogbomosho, Oyo, Nigeria
                    </p>
                    <br>
                    <p>
                        Service Times:<br>

                        Sundays:<br>
                        First Service: 7:00 AM<br>
                        Second Service: 9:00 AM<br>
                        Third Service: 11:00 AM<br>

                        Wednesdays: 6:30 PM
                    </p>
                </div>
                <div class="location">
                    <h2>Oyo</h2>
                    <p>
                        E-mail: info@oyo.ucoc.org <br>
                        Helpline (8AM to 10PM): <br>
                        (+234)-700 353 8283
                    </p>
                    <br>
                    <p>
                        Address:<br>
                        Iseyin - Oyo Rd, Farade, Oyo.
                    </p>
                    <br>
                    <p>
                        Service Times:<br>

                        Sundays:<br>
                        First Service: 7:00 AM<br>
                        Second Service: 9:00 AM<br>
                        Third Service: 11:00 AM<br>

                        Wednesdays: 6:30 PM
                    </p>
                </div>
                <div class="location">
                    <h2>Ibadan</h2>
                    <p>
                        E-mail: info@ibd.ucoc.org<br>
                        Helpline (8AM to 10PM):<br>
                        (+234)-682 987 4586
                    </p>
                    <br>
                    <p>
                        Address:<br>
                        Oluyole Extension High School, 1 Victory Avenue, Rehoboth Cathedral, Oluyole, Ibadan
                    </p>
                    <br>
                    <p>
                        Service Times:<br>

                        Sundays:<br>
                        First Service: 7:00 AM<br>
                        Second Service: 9:00 AM<br>
                        Third Service: 11:00 AM<br>

                        Wednesdays: 6:30 PM
                    </p>
                </div>
                <div class="location">
                    <h2>Ilorin</h2>
                    <p>
                        E-mail: info@ilr.ucoc.org<br>
                        Helpline (8AM to 10PM):<br>
                        (+234)-255 792 9842
                    </p>
                    <br>
                    <p>
                        Address:<br>
                        After Tipper Garage (beside Unilorin bus terminal), University of Ilorin Road, Tanke 240222, Ilorin
                    </p>
                    <br>
                    <p>
                        Service Times:<br>

                        Sundays:<br>
                        First Service: 7:00 AM<br>
                        Second Service: 9:00 AM<br>
                        Third Service: 11:00 AM<br>

                        Wednesdays: 6:30 PM
                    </p>
                </div>
                <div class="location">
                    <h2>Lagos</h2>
                    <p>
                        E-mail: info@lag.ucoc.org<br>
                        Helpline (8AM to 10PM):<br>
                        (+234)-782 387 8765
                    </p>
                    <br>
                    <p>
                        Address:<br>
                        Pistis Conference Centre, Next turn after Word Oil Filling Station, Lekki/Epe Expressway, Lagos
                    </p>
                    <br>
                    <p>
                        Service Times:<br>

                        Sundays:<br>
                        First Service: 7:00 AM<br>
                        Second Service: 9:00 AM<br>
                        Third Service: 11:00 AM<br>

                        Wednesdays: 6:30 PM
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
