<footer id="footer">
    <section class="col contact">
        <p class="title">Find Us</p>
        <p><b>Address</b> : 5/7 Lateef Jakande Avenue, Off Bourdillon, Off Glover, Ogbomosho, Oyo, Nigeria</p>
        <p><b>Phone</b> : +23416320485, +23416320486</p>
        <p><b>Email</b> : info@universalchurchofchrist.org</p>
    </section>
    <section class="col useful-links">
        <p class="title">Usefull Links</p>
        <nav class="links">
            <a href="#" class="nav-link">Login</a>
            <a href="#" class="nav-link">Register</a>
            <a href="#" class="nav-link">Admin Login</a>
        </nav>
    </section>
    <p class="col rights">&copy; 2020 <%= siteName %>. All rights reserved.</p>
</footer>
