<header>
    <div class="logo"><%= siteName %></div>
    <ul class="nav-list">
        <li class="nav-list"><a href="/">Home</a></li>
        <li class="nav-list"><a href="">Sermons</a></li>
        <li class="nav-list"><a href="">Gallery</a></li>
        <li class="nav-list"><a href="">Give</a></li>
        <li class="nav-list"><a href="">About Us</a></li>
        <li class="nav-list"><a href="/login">Login</a></li>
        <li class="nav-list"><a href="/register">Register</a></li>
    </ul>
</header>
